* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: #0b0f1a;
  overflow: hidden;
  color: white;
}

/* PARTICLES */
#particles {
  position: fixed;
  top: 0;
  left: 0;
}

/* GLASS CARD */
.container {
  width: 85%;
  height: 75%;
  margin: auto;
  margin-top: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  border-radius: 20px;
  z-index: 2;
  position: relative;
}

.glass {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 40px rgba(0, 255, 204, 0.2);
  transition: 0.4s;
}

.glass:hover {
  transform: scale(1.02);
}

/* LEFT CONTENT */
.content {
  width: 55%;
}

.content h1 {
  font-size: 48px;
}

.content h1 span {
  color: #00ffcc;
}

.content h2 {
  margin: 15px 0;
  color: #00ffcc;
}

.content p {
  margin: 20px 0;
  color: #ddd;
  max-width: 500px;
}

/* BUTTONS */
.buttons {
  margin-top: 25px;
}

.btn {
  padding: 12px 22px;
  background: #00ffcc;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  margin-right: 15px;
  font-weight: bold;
}

.btn.outline {
  background: transparent;
  color: #00ffcc;
  border: 2px solid #00ffcc;
}

/* PHOTO */
.photo img {
  width: 260px;
  height: 360px;
  border-radius: 100%;
  object-fit:cover;
  border: 6px solid #00ffcc;
  box-shadow: 0 0 30px #00ffcc;
}


/* =========================
   MOBILE VIEW ONLY
   ========================= */
@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .container {
    width: 95%;
    padding: 20px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.95rem;
    line-height: 1.5;
  }

  .buttons {
    flex-direction: column;
    gap: 12px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

}

